################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CityInfo/.vs/CityInfo
/CityInfo/CityInfo.API/bin/Debug/net8.0
/CityInfo/CityInfo.API/obj
/CityInfo/CityInfo.API/logs/cityinfo20240707.txt
